.wrapper {
    width: 356px;
    padding: 20px 0 26px 8px;
    margin-left: -18px;
}

.suggest-wapper {
    padding: 20px 8px 24px 8px;
    border-top: 1px solid #e3e3e4;
}
.leadership {
    color: rgba(22, 24, 35, 0.5);
    font-size: 16px;
    line-height: 22px;
    padding-right: 70px;
}
.SignIn-btn {
    padding: 14px 58px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
}
